*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: din;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: $background;
}

main{
    padding: 5rem;

    h1{
        padding: 2rem;
        font-size: 3rem;
        font-family: $fira_sans;
        text-align: center;
        color: $main;
    }
}

// mobile view
@media screen and (max-width: 768px){
    main{
        padding: 2rem;
    }
}